

#outer {

    width: 90%;
    background-color: rgb(0, 0, 0);
    margin: auto;
    padding: 3vw;
    box-shadow: 0px 0.1em 1em 0px rgb(127, 127, 127);
    color: white;
    text-align: center;
    font-weight: 100;
    padding-top: 10em;
    padding-bottom: 20em;
    margin-bottom: 9em;
    margin-top: 2em;
}

#outer h1 {
    font-family: "copperplate";
    text-align: center;
    margin-bottom: 3em;
    margin-top: 2em;
    font-size: 6vw;
    color: #f0c106;
    font-weight: 100;
}


#outer p {
    font-size: 3.5vw;
    font-weight: 100;
    text-align: left;
    width: 90%;
    margin: auto;
    text-decoration: underline;
}
#outer #p2 {
    font-size: 2.5vw;
    font-weight: 100;
    text-align: left;
    width: 90%;
    margin: auto;
    text-decoration: none;
    margin-top: 1em;
}