#footer {
    background-color: rgb(0, 0, 0);
    padding: 1vw;
    margin-bottom: 0px;
}

#footer #topfooter {
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-style: normal;
    font-family: "copperplate";
    font-size: 2vw;
    margin-bottom: 0px;
    margin-top: 8vw;
}
#footer #topfooter p {
    font-size: 1.5vw;
    color: rgb(231, 231, 231);
    font-weight: 100;
    letter-spacing: 0.1vw;
}

#footer #middlefooter  {
    margin: auto;
    width: 50%;
    text-align: center;
}

#footer #middlefooter img  {
    width:50%;
    margin: auto;
}

#footer #bottomfooter {
    display: flex;
    margin: auto;
    padding: 1em;
}
#footer #bottomfooter div {
    width: 50%;
    font-size: 2rem;
    color: white;
    text-decoration: none;
}
#footer #bottomfooter div a  {
    width: 100%;
    font-size: 2vw;
    color: white;
    text-decoration: none;
    letter-spacing: 0.3em;
    font-family: "copperplate";
    text-decoration: underline;
    font-weight: 100;
}
#footer #bottomfooter #left   {
    text-align: left;
}
#footer #bottomfooter #right {
    
    text-align: right;
}

