
#mostouterform form h5{
    display: none;
    font-weight: 100;
    color: rgb(207, 27, 27);
    margin-top: 0px;
    width: 100%;
    margin-right: 30%;

}

#mostouterform form #options {
    
    margin: auto;
    margin-top: 3em;
}

#mostouterform form #errors{
    display: none;
    text-align: center;
    margin: 0px;
    margin-top: 1em;
}
#mostouterform form #errors h6{
    margin: 0px;
    font-size: 2.5vw;
    font-weight: 100;
}
#mostouterform form #errors h5{
    margin: 0px;
    font-size: 9vw;
}

#mostouterform {
    border: 1px solid black;
    margin: auto;    
    margin-bottom: 5em;    
    margin-top: 5em;
    width: 75%;
    padding: 1em;
    font-family: "copperplate";
    padding-bottom: 5em;
    border: 0px;
    box-shadow: 0px 0px 14px 0.5px rgb(122, 122, 122);
}

#mostouterform h3 {
    font-family: "copperplate";
    font-size: 4.5vw;
    text-align: center;
    letter-spacing: 0.5em;
    font-weight: 100;
    margin-top: 8vw;
    margin-bottom: 16vw;
}
#mostouterform h2 {
    font-family: "copperplate";
    font-size: 4vw;
    text-align: center;
    letter-spacing: 0.5em;
    font-weight: 100;
    margin-bottom: 10vw;
    margin-top: 16vw;
}

#mostouterform form {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;

}

#mostouterform form input {
    font-size: 3vw;
    margin-bottom: 2vw;
    border: 0px;
    border-bottom: 1px solid rgb(166, 166, 166);
    outline: none;
    padding-bottom: 0.5vw;
}

#mostouterform form a {
    text-decoration: none;
}
#mostouterform form a p {
    color: black;
    font-size: 2vw;
    text-align: right;
    margin: 0px;
    margin-top: 2vw;
}
    
#mostouterform form button {
    font-size: 3vw;
    font-weight: 1000;
    padding: 0.5em;
    background-color: black;
    color: white;
    border: 0px;
    margin: auto;
    border-radius: 0.5em;
    margin-top: 4em;
    width: 50%;
    font-family: "copperplate";
}

    
