
html {
    scroll-behavior: smooth;
}

 #video {

     margin: auto;
     width: 85%;
     margin-top: 3em;
    position: relative;

 }

 #video video {
    width: 100%;
    margin: auto;
 }


#categories {
    position: absolute;
    display: flex;
    margin-left: 25%;
    text-align: center;
    width: 50%;
    margin-top: -10%;
}

#categories a {
    text-align: center;
    text-decoration: none;
    margin-right: 10%;
    margin-left: 3.5%;
    color: red;
    font-weight: 1000;
    font-size: 3vw;
}

#cateogies p {
    text-align: center;
    color: red;
}

#intro {
    font-family: "copperplate";
    text-align: center;
    font-size: 1.5vw;
    letter-spacing: 0.3em;
    margin-bottom: 10em;
}
#intro h2 {
    letter-spacing:0.5em;
    font-family: "Archio";
    font-size: 3vw;
}
#intro a {
    color: red;
    font-family: "Amsterdam";
    font-size: 3vw;

}
#intro a p {
    margin-top: 1.5em;
    font-weight: bold;
}


#latest {
    width: 90%;
    margin: auto;
    margin-bottom: 5em;
    margin-top: 10em;
    padding: 2em;
}

#latest h3 {
    font-weight:bold;
    font-size: 3vw;
    text-indent: 0em;
}

#latest #latestbox {
    display: flex;
    margin-left: -2%;
}

#latest #latestbox .product {
    width: 90%;
}

#latest #latestbox .product img {
    width: 100%;
}

#latest #latestbox #middle {
    width: 100%;
}
#latest #latestbox #middle img {
    width: 100%;
}

#latest #latestbox #side {
    margin-left: 5%;
    margin-top: 7%;
}

#latest #latestbox #none{
    display: none;
}

#latest #latestbox #ontop {
    display: inline;
    margin: 0px;
}

#latest #latestbox #ontop p {
    text-align: center;
    color: black;
    text-decoration: none;
}









#limited {
    width: 85%;
    margin: auto;
    margin-bottom: 5em;
}
#limited h3 {
    font-weight:bold;
    font-size: 3vw;
    text-indent: 0em;
}

#limited #limitedbox {
    display: flex;
    gap: 3vw;
    margin: auto;
}

#limited #limitedbox #textedimg {
    width: 33%;
}

#limited #limitedbox #textedimg #text{
    text-align: center;
}

#limited #limitedbox #textedimg #text h4{
    font-weight: 1000;
    font-size: 3.5vw;
    margin-bottom: 0px;
    font-family: "copperplate bold";
}
#limited #limitedbox #textedimg #text h5{
    margin-top: 0px;
    font-size: 2vw;
    font-family: "copperplate";
    font-weight: 100;

}

#limited #limitedbox #textedimg #left{

}


#limited #limitedbox #textedimg #left img{
    width: 100%;
    object-fit: cover;
    height: 13vw;
}

#limited #limitedbox .product {
    width: 33%;
}

#limited #limitedbox #middle {
    width: 25%;
    margin-top: 7%;
}

#limited #limitedbox .product img {
    width: 100%;
}











#trending {
    width: 90%;
    margin: auto;
    margin-bottom: 5em;
}
#trending h3 {
    font-weight: 700;
    font-size: 3vw;
    margin-bottom: 2em;
}

#trending #trendingbox {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 3em;
}

#trending #trendingbox .side {
    margin-top: 5em;
}
#trending #trendingbox #middle {
    margin-top: -1em;
}

#trending #trendingbox #middle #bottom {
    margin-bottom: -2em;
}

#trending #trendingbox .product {
    width: auto;
}
#trending #trendingbox .product img {
    width: 100%;
    object-fit: cover;
}

#trending #trendingbox .product #bottom {
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    margin-bottom: 0em;
    border: 1px solid rgb(221, 217, 217);
    padding-top: 2vw;
}

#trending #trendingbox .product #bottom p{
    overflow: hidden;
    padding:1em;
    color: grey;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 2vw;
}

#trending #trendingbox .product #bottom h3{
    font-size: 2vw;
    margin: 0px;
    font-weight: 700;
}
#trending #trendingbox .product #bottom h4{

    text-transform: uppercase;
    font-size: 1.6vw;
    margin: 0px;
    margin-top: 0.5vw;
    font-weight: 100;
    color: rgb(66, 66, 66);
    
}
#trending #trendingbox .product #bottom p{
    font-size: 1.5vw;
    margin: 0px;
    margin-top: 0.5em;
    font-weight: 100;
    
}
#trending #trendingbox .product #bottom #shop{
    color: white;
    background-color: black;
    padding: 1vw;
    font-size: 2vw;
}   
#trending #trendingbox .product #bottom #shop a{
    color: white;
    background-color: black;
    text-decoration: none;
}


#intro {
    text-align: center;
    margin-bottom: 5em;
}

#intro a {
    color: red;
    font-family: "copperplate";
    font-size: 3vw;

}
#intro a p {
    margin-top: 1.5em;
    font-weight: bold;
}
