
html {
    scroll-behavior: smooth;
}

 #video {

     margin: auto;
     width: 85%;
     margin-top: 1em;

 }

 #video video {
    width: 100%;
    margin: auto;
 }

#intro {
    font-family: "copperplate";
    text-align: center;
    font-size: 1.5vw;
    letter-spacing: 0.3em;
    margin-bottom: 10em;
}
#intro h2 {
    letter-spacing:0.5em;
    font-family: "Archio";
    font-size: 3vw;
}
#intro a {
    color: red;
    font-family: "Amsterdam";
    font-size: 3vw;

}
#intro a p {
    margin-top: 1.5em;
    font-weight: bold;
}
