
#uppersite {
    padding-top: 10em;
    margin-top: 1em;
    background-image: url("/images/landscape/boudha.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 50em;
    
}

#outerform {
    width: 50%;
    margin: auto;
    background-color: white;
    padding: 2em;
}
#outerform p{
    text-align: center;
    font-size: 2em;
}

#outerform form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}
