
#upperproduct {

}


#upperproduct #outerproduct {
    margin:auto;
    border-radius: 1em;
    width: 80%;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.534);
    box-shadow: 0px 0.1em 1em 0px rgb(17, 17, 17);
    margin-top: 5em;
    margin-bottom: 5em;
}

#upperproduct #outerproduct #innerproduct #top {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 2em;
    padding-top: 0.5em;
}
#upperproduct #outerproduct #innerproduct{
    background-color: white;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

#upperproduct #outerproduct #innerproduct h1 {
    text-align: center;
    letter-spacing: 0.5em;
    font-weight: 100;
    font-size: 3vw;
}

#innerproduct #left {
    position: relative;
    max-width: 100%;
    margin: 0px;
    width: 100%;
    margin-left: auto;
    margin-top: 1em;
    padding: 0px;
    padding: auto;
}


#innerproduct #left #images {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns:75%;
    overflow-x: auto;
    padding: 0px;
    gap: 2px;
    scroll-snap-type: x;
    scroll-padding-inline: 24px;
    scroll-behavior: smooth;
    scroll-behavior: none;
    width: 90%;
    overflow-y: auto;
    padding: 2em;
    gap: 24px;
    height: 80%;
}
#innerproduct #left #images img {
    object-fit: cover;

}
#innerproduct #left #images::-webkit-scrollbar  {
    display: none;
}
#innerproduct #bottom #left #images.grab {
    cursor: grabbing;
    user-select: none;
    scroll-snap-type: none;
    scroll-behavior: auto;
}
#innerproduct #left #images .image {
    scroll-snap-align: start;
    /* border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; */
    overflow: hidden;

    margin: 0px;
    padding-left: 0px;
    margin: 0px;
    scroll-snap-align: start;
    overflow: hidden;
}
#innerproduct #left #images .image img {
    object-fit:cover;
    width: 100%;
    margin: 0px;

}

#innerproduct #right {
    width: 100;
    background-color: rgb(255, 255, 255);
    padding: 1em;
}

#innerproduct #right #price {
    font-size: 2.5 vw;
    font-weight: 100;
    color: rgb(129, 129, 129);
    margin: 0px;
    padding: 0px;
    text-indent: 1vw;
}

#innerproduct #right #desc {
    border: 0px;
    width: 75%;
    margin: auto;
    text-align: center;
    margin-top: 2em;
    color: grey;
    font-weight: 100;
    margin-bottom: 2em;
    font-size: 2.5vw;
}

#innerproduct #right #sizesbox {
    display: grid;
    gap: 0.5em;
    font-size: 1vw;
    grid-auto-flow: column;
    justify-content: center;

}

#innerproduct #right #buyform #details {
    display: flex;
    flex-direction: row;
}

#innerproduct #right #buyform #details .boxes {
    width: 50%;
}




#innerproduct #right #sizequantity  h4{
    font-size: 3vw;
    font-weight: 100;
}

#innerproduct #right #sizesbox {
    width: 50%;
    margin: 0px;
    margin-right: auto;
    padding-left: 0px;
}

#innerproduct #right #sizesbox input {
    padding-left: 0px;
    display: none;
}
#innerproduct #right #sizesbox input:checked + label {
    background-color: black;
    color: white;
}

#innerproduct #right #sizesbox label {
    border: 1px solid black;
    padding: 0.5em;
    width: 2em;
    text-align: center;
    font-size: 1.5vw;
    border-radius: 1vw;
}
#innerproduct #right #sizesbox label:hover {
    cursor: pointer;
    background-color: black;
    color: white;

}
#innerproduct #right #sizesbox label:checked{
    border: 1px solid black;
    padding: 1em;
    background-color: black;
    color: white;
}

#innerproduct #right #details #colors h4 {
    font-size: 3vw;
    text-align: right;
    font-weight: 100;
}


#innerproduct #right #colorbox {
    width: 50%;
    margin: 0px;
    margin-left: auto;
    padding-right: 0px;
    display: flex;
    margin: auto;
    gap: 1vw;
}

#innerproduct #right #colorbox input {
    padding: 0px;
    display: none;
}
#innerproduct #right #colorbox input:checked + label {
    background-color: black;
    color: white;
}

#innerproduct #right #colorbox label {
    border: 1px solid black;
    padding: 1vw;
    text-align: center;
    font-size: 1.5vw;
    margin: auto;
    border-radius: 1vw;
}
#innerproduct #right #colorbox label:hover {
    cursor: pointer;
    background-color: black;
    color: white;

}
#innerproduct #right #colorbox label:checked{
    border: 1px solid black;
    padding: 1em;
    background-color: black;
    color: white;
}


#innerproduct #right #quantity {
    width: 80%;
    justify-content: left;
    text-align: left;
    margin: auto;
    margin-top: 2em;
    padding: 0.5em;
    padding-bottom: 0em;
    display: flex;
    border-bottom: 2px solid black;
}

#innerproduct #right #quantity p{
    font-size: 3vw;
    margin: 0px;
    padding: 0px;
}

#innerproduct #right #quantity input {
    font-size: 3vw;
    margin-top: 0px;
    border: 0px;
    font-weight: 600;
    padding: 0px;
}


#innerproduct #right button {

    background-color: rgba(0, 0, 0);
    border: 1px solid black;
    font-size: 2.5vw;
    font-weight: 600;
    margin: auto;
    margin-top: 10vw;
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom:0.5em;
    width: 50%;
    margin-left: 25%;
    color: white;
    border-radius: 2vw;
}


#loginerror {
    text-align: center;
}