

*{
    font-family: "copperplate";
}

#outerprofile {
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin: auto;
    padding: 5%;
    box-shadow: 0px 0.1em 1em 0px rgb(158, 158, 158);
    margin-top: 4em;
    margin-bottom: 4em;
}
#outerprofile h1 {
    text-align: center;
    font-size: 5vw;
    margin: 0px;
    margin-bottom: 1em;
    letter-spacing: 0.5em;
}

#outerprofile #profile {
    display: flex;
    border-bottom: 2px solid rgba(134, 134, 134, 0.527);
    margin-bottom: 3em;
    padding-bottom: 2em;
}

#outerprofile #profile div{
    width: 50%;
}

#outerprofile #profile #left{
    text-align: left;
}
#outerprofile #profile #left h1{
    text-align: left;
    font-size: 2vw;
    margin: 0px;
    font-weight: bold;
}
#outerprofile #profile #left h4{
    text-align: left;
    margin: 0px;
    font-size: 1.5vw;
    font-weight: 100;
    text-decoration: underline;    
}
#outerprofile #profile #left p{
    text-align: left;
    margin: 0px;
    font-size: 2vw;
    text-decoration: underline;    
}

#outerprofile #profile #right{
    text-align: right;
}

#outerprofile #profile #right h4{
    text-align: right;
    font-size: 1.5vw;
    margin: 0px;
    color: rgba(0,0,0,0.5);
}
#outerprofile #profile #right h2{
    margin: 0px;
    font-size: 2vw;
    margin-top: 0.5em;
    width: 25%;
    margin-left: auto;
}

#upperprofile #outerprofile h6{
    text-align: left;
    font-size: 3vw;
    margin: 0px;
    margin-bottom: 3vw;
}

#upperprofile #outerprofile table {
    box-shadow: 0px 0.1em 1em 0px rgb(158, 158, 158);
    margin: auto;
    width: 100%;
    border: 1px solid black;
    margin-top: 10vw;

} 

#upperprofile #outerprofile table ,td ,th {
    margin: auto;
    border-rightn: 1px solid rgb(234, 228, 228);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
}


#upperprofile #outerprofile table td {
    font-size: 1.5vw;
    padding: 3vw;
    text-align: center;
}
#upperprofile #outerprofile table td a {
    text-decoration: none;
    color: rgb(15, 15, 15);
    font-size: 2vw;
    text-decoration: underline;
}
#upperprofile #outerprofile table td a:hover {
    text-decoration: underline;
    color: rgb(15, 15, 15);
}

#upperprofile #outerprofile table td button{
    background-color: rgba(12, 12, 12);
    border: 0px;

    border: 1px solid rgb(18, 17, 17);
    font-size: 1.5vw;
    font-weight: 100;
    padding: 0.5em;
    color: rgb(255, 255, 255);
    width: 100%;

}
#upperprofile #outerprofile table td button:hover{
    border-bottom: 2px solid  rgb(15, 15, 15);

}

