<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUKI Store</title>
    <link rel="icon" href="/images/logo/lukismall.jpg" >
    <link rel="stylesheet" href="/styling/buy.css">
</head>
<body>

    <div id="navbar">
    </div>

    <div id="upperbuy" >
        <div id="innerbuy">
            <h3 id="producttitle">ProductName</h3>
            <div id="images">

            </div>
            <h4>Costing</h4>
            <div id="cost">
                
                <table id="left">
                    <tr>
                        <Td>Price:</Td>
                    </tr>
                    <tr>
                        <Td>Quantity:</Td>
                    </tr>
                    <tr>
                        <Td>Delivery:</Td>
                    </tr>
                    <tr>
                        <Td>Tax:</Td>
                    </tr>
                    <tr>
                        <Td>Total Cost:</Td>
                    </tr>
                </table>

                <table id="rightdetails">
                    
                    <tr>
                        <Td>Rs.5600</Td>
                    </tr>
                    <tr>
                        <Td>5</Td>
                    </tr>
                    <tr>
                        <Td>Rs.1300</Td>
                    </tr>
                    <tr>
                        <Td>Rs.1300000</Td>
                    </tr>
                </table>

            </div>

            
            <h4>Details</h4>
            <div id="outerform">
                
                <form method="post" id="checkout">
                    <input type="hidden" id="id" name="id" value="" required>
                    <input type="text" name="name" id="name" placeholder="Full Name" required>
                    <input type="email" name="email" id="email" placeholder="Email Address" required>
                    <input type="number" name="number" id="number" placeholder="Phone Number" required>
                    <input type="text" name="address" id="address" placeholder="Full Address" required>
                    <input type="hidden" id="token" name="token" value="0">
                    <input type="hidden" id="quantity" name="quantity" value="1">
                    <input type="hidden" id="price" name="price" value="" required>
                    <input type="hidden" id="categoryform" name="categoryform" value="">
                    <input type="hidden" id="size" name="size" value="">
                    <button>Buy</button>
                </form>
            
            </div>
        </div>
    </div>

    <div id="footer"></div>

    <script>
        const pagelocation = location.search

        const id = pagelocation.split("id=")[1].split("&")[0]
        const quantity = pagelocation.split("quantity=")[1].split("&")[0]
        const sizevalue = pagelocation.split("sizes=")[1].split("&")[0]
        const category = pagelocation.split("category=")[1].split("&")[0]
        const color = pagelocation.split("color=")[1].split("&")[0]

        console.log(id , category, quantity, sizevalue, color)
        
        if (category == "women" || category == "men" || category == "gym"){
            fetch(category)
            .then (response => response.json())
            .then (product => {
                for(i in product){
                    if(product[i]["productid"] == id){


                        let productid = document.getElementById("id")
                        let pricetext = document.getElementById("pricetext")
                        let title = document.getElementById("producttitle")
                        let imagebox = document.getElementById("images")
                        let categoryform = document.getElementById("categoryform")
                        let size = document.getElementById("size")
                        let productquantity = document.getElementById("quantity")
                        let detailsbox = document.getElementById("rightdetails");
                        
                        title.innerHTML = `${product[i]["productname"]}`
                        productid.value = id 
                        // price.value = `${finalprice}`
                        // pricetext.innerHTML = `Total :Rs.${finalprice}`
                        categoryform.value = `${category}`
                        size.value = `${sizevalue}`
                        productquantity.value = quantity
                        imagespath = "/" + product[i]["path"].split("../frontend/static/")[1] + "/";
                        let price = product[i]["productprice"]
                        let delivery = 150
                        let taxprice = product[i]["productprice"] * 13/100  * quantity
                        let finalprice = (price * quantity) + taxprice+ delivery
                        
                        imagebox.innerHTML = 
                        `
                        <img src="${imagespath}/1.png" >
                        `

                        detailsbox.innerHTML = 
                        `
                            <tr>
                                <Td>Rs.${price}</Td>
                            </tr>
                            <tr>
                                <Td>Rs.${quantity}</Td>
                            </tr>
                            <tr>
                                <Td>Rs.${delivery}</Td>
                            </tr>
                            <tr>
                                <Td>Rs.${taxprice}</Td>
                            </tr>
                            <tr>
                                <Td>Rs.${finalprice}</Td>
                            </tr>

                        `
                        
                    let token = document.cookie.split(";")[0].split("token=")[1]
                    fetch("/users")
                    .then(response => response.json())
                    .then(users => {
                        for (i in users){
                            if (users[i]["token"] == token){
                                
                                let detailsform = document.getElementById("checkout");
                                detailsform.innerHTML = 
                                `
                                <input type="hidden" id="id" name="id" value="${id}" required>
                                <input type="text" name="name" id="name" placeholder="Full Name" required value="${users[i]["firstname"]} ${users[i]["secondname"]}">
                                <input type="email" name="email" id="email" placeholder="Email Address" required value="${users[i]["usermail"]}">
                                <input type="number" name="number" id="number" placeholder="Phone Number" required value="${users[i]["phone"]}">
                                <input type="text" name="address" id="address" placeholder="Full Address" required >
                                <input type="hidden" id="token" name="token" value="${users[i]["token"]}">
                                <input type="hidden" id="quantity" name="quantity" value="${quantity}">
                                <input type="hidden" id="price" name="price" value="${finalprice}" required>
                                <input type="hidden" id="categoryform" name="categoryform" value="${category}">
                                <input type="hidden" id="size" name="size" value="${sizevalue}">
                                <button>Buy</button>
                                    
                                `
                            }
                            

                        }
                    })


                    }
                }
            })
        }
        else {
            
            document.getElementsByTagName("body").innerHTML = `Page not Found`
        }


  
    </script>

    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/footer.js"></script>
</body>
</html>