<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LUKI Store</title>
    <link rel="icon" href="/images/logo/lukismall.jpg" >
    <link rel="stylesheet" href="/styling/category.css" />
  </head>
  <body>
    <div id="navbar"></div>

    <div id="uppercategory">
      <div id="innercategory">
        <h1 id="categorytitle"></h1>

        <div id="products"></div>
      </div>
    </div>
    <div id="footer"></div>

    <script>
      const pagelocation = location.search;
      const category = pagelocation.split("=")[1];

      if (category == "women" || category == "men" || category == "unisex") {
        fetch(category)
          .then((response) => response.json())
          .then((product) => {
            let producthtml = ``;
            for (i in product) {
              let imagedir =
                "/" + product[i]["path"].split("../frontend/static/")[1] + "/";

              producthtml += `
                        <div class="indiproduct" id="${product[i]["productid"]}">
                                <img src="${imagedir}/1.png" alt="" />
                            <div id="des">
                                <h3>${product[i]["productname"]}</h3>
                                <p>Rs.${product[i]["productprice"]}</p>
                                <h6>${product[i]["description"]}</h6>
                                <a href="/product?category=${category}?id=${product[i]["productid"]}">
                                    <button> Shop Now</button>
                                </a>
                            </div>

                        </div>
                    `;
              document.getElementById(
                "categorytitle"
              ).innerHTML = `${category}`;
            }
            document.getElementById("products").innerHTML = producthtml;
          });
      } else {
        document.getElementById("innercategory").innerHTML = `Page not Found`;
      }
    </script>

    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/footer.js"></script>
  </body>
</html>
