
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUKI Store</title>
    <link rel="stylesheet" href="/styling/index_style.css">
    <link rel="icon" href="/images/logo/lukismall.jpg" >
    <link rel="stylesheet" href="/styling/contact.css">
    <!-- <link rel="stylesheet" href="/styling/index_style.css"> -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
    </style>
</head>
<body>
    
    <div id="navbar">
    </div>

    <div id="outer">

        <div id="inner">
            <h1>CONTACT US</h1>
            
            <p>lukioutfits@gmail.com</p>
            <p id="p2">email any time on the official mail of luki</p>
            <br>
            <br>
            <p>977+ 9849742442</p>
            <p id="p2">for messing and calls</p>
            <br>
            <br>
            <p>977+ 9849742442 </p>
            <p id="p2">whatsapp business</p>
        </div>
    </div>


                
    <div id="footer">
    </div>
    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/footer.js"></script>
</body>
</html>

