

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LUKI Store</title>
        <link rel="icon" href="/images/logo/lukismall.jpg" >
        <link rel="stylesheet" href="/styling/dashboard.css">
    </head>
    <body>
        
        <div id="navbar">
        </div>
        
        <div id="upperdash" >

        <div id="dashproducts" >
            <h1 >PRODUCTS</h1>
            
            <div id="products" >
                
                <table id="producttable">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>


                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                
    
            </div>


        </div>

        <div id="dashorders" style="display: none;">
            <h1>ORDER</h1>
            <div id="orders" >
                
                <table id="ordertable">
                    <tr>
                        <th>ID</th>
                        <th>CustomerName</th>
                        <th>CustomerEmail</th>
                        <th>Phone</th>
                        <th>City</th>
                        <th>Address</th>
                        <th>Product</th>
                        <th>Size</th>
                        <th>Quantity</th>
                        <th>Payment</th>
                        <th>Total</th>
                        <th>Delete</th>

                    </tr>

                    <tr>
                        <td>1</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                
    
            </div>

        </div>

        <div id="upload" style="display: none;" >

            <div id="outerform">
                <h1>UPLOAD</h1>
                <form action="/upload" method="post" enctype="multipart/form-data" onsubmit="return formcheck()">
                    <input name="section" type="hidden" value="upload">
                    <input type="text" name="productname" id="productname" placeholder="name" required>
                    <div id="numbers">
                        
                        <input type="number" name="productprice" id="productprice" min="1" max="99999999999999" placeholder="price" required>
                        <input type="number" name="productquantity" id="productquantity"  min="1" max="9999999999" placeholder="quantity" required>
                        
                    </div>
                    <div id="category">
                        <h6>category :</h6>
                        <select name="productcategory" id="product?category" required>
                            <option value="women">women</option>
                            <option value="men">men</option>
                            <option value="unisex">unisex</option>
                        </select>
                    </div>

                    <div id="outerdesc">
                        
                        <!-- <div id="buttons">
                            
                            <button onclick="format(`<h3>   </h3>`)">Heading</button>
                            <button onclick="format(`<br>`)">LineBreak</button>
                            <button onclick="format(`<li>  </li>`)">List</button>
                            <button onclick="format(`<b>   </b>`)">bold</button>
                        </div> -->
<!-- 
                        <div id="colors">
                                <button value="red" type="button" >RED</button>
                                <button value="black" type="button">BLACK</button>
                                <button value="white" type="button">WHITE</button>
                                <button value="brown" type="button">BROWN</button>
                                <button value="yellow" type="button">YELLOW</button>
                                <button value="blue" type="button">BLUE</button>
                                <button value="green" type="button">GREEN</button>
                        </div> -->
                        <textarea name="productdesc" id="productdesc" cols="30" rows="10" placeholder="description" required></textarea>
                    </div>
                    <input type="file" name="productimages" id="productimages" multiple required placeholder="Select Images">
                    <button id="submit" type="submit">UPLOAD</button>
                
                </form>
            </div>
        </div>
            <div id="section">
                <button type="button" onclick="section('products')">PRODUCTS</button>
                <button type="button" onclick="section('orders')">ORDERS</button>
                <button type="button" onclick="section('upload')">UPLOAD</button>
            </div>
        
    </div>

    <div id="footer" style="margin-top: 5em;"></div>

    <script>
        function formcheck(){

            let textareavalue = document.getElementById("productdesc").value
            let result = textareavalue.replace(/["']/g, "\n")
            textareavalue.value = result
            console.log("textareavalue" ,textareavalue.value)
            return true
        }
        function format(tag){

            document.getElementById("productdesc").value += tag
        }

        fetch("order")
            .then (response => response.json())
            .then (product => {
                let tabledata = ``
                let producttable = ``
                console.log(product)
                for(i in product){
                    console.log( "Ordercode " , product[i]["ordercode"])
                    let imagedir = "/"+product[i]["path"].split("../frontend/static/")[1]+"/"

                    tabledata += 
                    `
                    <tr>
                        <td><a href="/orderdetails?ordercode=${product[i]["ordercode"]}">${product[i]["productname"].toLowerCase()}</a></td>
                        <td>${product[i]["customername"].toLowerCase()}</td>
                        <td>${product[i]["total"]}</td>
                        <td><form method="post" action="/deleteorder">
                            <input name="ordercode" type="hidden" value="${product[i]["ordercode"]}">
                            <button type="submit">YES</button>
                            </form>
                        </td>
                    </tr>
                    `
                    producttable = `

                    <tr>
                        <th>Product</th>
                        <th>Customer</th>
                        <th>Total</th>
                        <th>Delete</th>
                    </tr>

                    ${tabledata}
                    

                    `
                }

            document.getElementById("ordertable").innerHTML = producttable
        })
        

        fetch("products")
            .then (response => response.json())
            .then (product => {
                let tabledata = ``
                let producttable = ``
                console.log(product)
                for(i in product){
                    let imagedir = "/"+product[i]["path"].split("../frontend/static/")[1]+"/"
                    console.log(imagedir)

                    tabledata += 
                    `
                    <tr>
                        <td><a href="/product?category=${product[i]["productcategory"]}?id=${product[i]["productid"]}">${product[i]["productname"].toLowerCase()}</a></td>
                        <td>${product[i]["productprice"]}</td>
                        <td>${product[i]["productquantity"]}</td>
                        <td><form method="post" action="/deleteproduct">
                            <input name="productid" type="hidden" value="${product[i]["productid"]}">
                            <input name="productpath" type="hidden" value="${product[i]["path"]}">
                            <button type="submit">YES</button>
                            </form>
                        </td>
                    </tr>
                    `
                    producttable = `

                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Delete</th>
                    </tr>

                    ${tabledata}
                    `

                }

            document.getElementById("producttable").innerHTML = producttable
        })
        


        function section(section){

            let products = document.getElementById("dashproducts")
            let orders = document.getElementById("dashorders")
            let upload = document.getElementById("upload")
            
            if (section == "products"){
        
                products.style.display = 'block'
                orders.style.display = "none"
                upload.style.display = "none"
            }
            else if (section == "orders"){
                products.style.display = 'none'
                orders.style.display = "block"
                upload.style.display = "none"
            }
            else if (section == "upload"){
                products.style.display = 'none'
                orders.style.display = "none"
                upload.style.display = "block"
            }

        }    


    </script>

    
    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/footer.js"></script>
</body>

</html>