
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUKI Store</title>
    <link rel="stylesheet" href="/styling/index_style.css">
    <link rel="icon" href="/images/logo/lukismall.jpg" >
    <!-- <link rel="stylesheet" href="/styling/index_style.css"> -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
    </style>
</head>
<body>
    
    <div id="navbar">
    </div>

    <div id="video">
        <video autoplay loop muted preload="auto" id="landscape" >
            <source src="/videos/intro.mp4" type="video/mp4">
            <source src="/videos/intro.mp4" type="audio/mpeg">
        </video>
    </div>

    <div id="intro">

        <h1>EMBRACE YOUR WARDROBE!></h1>
        <h2>LUKI.OUTFITS</h2>
        <a href="#latest"><p>explore more</p></a>

    </div>


    <div id="latest">

        <h3>LATEST</h3>

        <div id="latestbox">
            
            <!-- <a href="/category?name=women">
                <div class="product" id="side" >
                    <img src="/images/product/highlights/1.jpg" alt="" srcset="">      
                </div>
            </a>
            <a href="/category?name=women">
                <div class="product" id="middle">
                    <img src="/images/product/highlights/2.jpg" alt="" srcset="">            
                </div>
            </a>
            <a href="/category?name=women">
                <div class="product" id="side">
                    <img src="/images/product/highlights/3.jpg" alt="" srcset="">            
                </div>
            </a> -->
        </div>

    </div>


    <div id="limited">

        <h3>LIMITED</h3>
        <div id="limitedbox">

            <!-- <div id="textedimg">
                <div id="text">
                    <h4>75% OFF</h4>
                    <h5>at first purchase</h5>
                </div>

                <div id="product" id="left">
                    <a href="/category?name=women">
                        <img src="/images/product/highlights/4.jpg" alt="" srcset="">     
                    </a>
                </div>
            </div>

            <div class="product" id="middle" >
                <a href="/category?name=women">
                    <img src="/images/product/highlights/5.jpg" alt="" srcset="">            
                </a>
            </div>

            <div class="product" id="right">
                <a href="/category?name=women">
                    <img src="/images/product/highlights/6.jpg" alt="" srcset="">            
                </a>
            </div> -->
            
        </div>

    </div>


    <div id="trending">

        <h3>trending</h3>
        <div id="trendingbox">
            

                <!-- <div class="product" id="left" class="side">
                    <img src="/images/product/highlights/1.jpg" alt="" srcset="">      
                    <div id="bottom">
                        <h3>PRODUCT NAME</h3>
                        <h4>$1500</h4>
                        <p>description of the product is that is written on this page .</p>
                        <button>SHOP NOW</button>
                    </div>
                </div>


                <div class="product" id="middle">
                    <img src="/images/product/highlights/2.jpg" alt="" srcset="">            
                    <div id="bottom">
                        <h3>PRODUCT NAME</h3>
                        <h4>$1500</h4>
                        <p>description of the product is that is written on this page .</p>
                        <button>SHOP NOW</button>
                    </div>
                </div>
                
                <div class="product" id="right" class="side">
                    <img src="/images/product/highlights/3.jpg" alt="" srcset="">       
                    <div id="bottom">
                        <h3>PRODUCT NAME</h3>
                        <h4>$1500</h4>
                        <p>description of the product is that is written on this page .</p>
                        <button>SHOP NOW</button>
                    </div>     
                </div> -->


            
        </div>

    </div>

    <div id="intro">
        
        <a href="/category?name=women"><p>more ahead</p></a>
    </div>


    <script>
      
        fetch("/products")
        .then(response => response.json())
        .then(products => {
            var latestindex = 0
            var trendingindex = 0
            var limitedindex = 0
            for (i in products){
                if(products[i]["productindex"] == "latest"){
                        var latestbox = document.getElementById("latestbox")
                        var sides = ["side" , "middle" , "side" , "none"]
                        let imagedir = "/" + products[i]["path"].split("../frontend/static/")[1] + "/";
                        latestbox.innerHTML += 
                        `
                        <a href="/product?category=${products[i]["productcategory"]}?id=${products[i]["productid"]}">
                            <div class="product" id="${sides[latestindex]}" >
                                <img src="${imagedir}/1.png" alt="" srcset="">      
                                </div>
                                </a>
                                
                                `
                                latestindex += 1;
                                
                                
                            }
                            
                if(products[i]["productindex"] == "limited"){
                    var limitedbox = document.getElementById("limitedbox")
                    var sides = ["left" , "middle" , "right" , "none"]
                    let imagedir = "/" + products[i]["path"].split("../frontend/static/")[1] + "/";
                    if(limitedindex == 0){
                        limitedbox.innerHTML += 
                            `
                                <div id="textedimg">
                                    <div id="text">
                                        <h4>75% OFF</h4>
                                        <h5>at first purchase</h5>
                                    </div>

                                    <div  id="${sides[limitedindex]}">
                                        <a href="/product?category=${products[i]["productcategory"]}?id=${products[i]["productid"]}">
                                            <img src="${imagedir}/1.png" alt="" srcset="">     
                                        </a>
                                    </div>
                                </div>
                            `
                            console.log(sides[limitedindex])
                            
                        }else {
                            limitedbox.innerHTML += 
                            `
                            
                            
                            <div class="product" id="${sides[limitedindex]}">
                                <a href="/product?category=${products[i]["productcategory"]}?id=${products[i]["productid"]}">
                                    <img src="${imagedir}/1.png" alt="" srcset="">     
                                    </a>
                                    </div>
                            `
                        }
                        limitedindex += 1;
                        console.log(limitedbox.innerHTML)
                        

                }

                if(products[i]["productindex"] == "trending"){
                    
                    var trendingbox = document.getElementById("trendingbox");
                    var sides = ["left" , "middle" , "right" , "none"]
                    let imagedir = "/" + products[i]["path"].split("../frontend/static/")[1] + "/";
                    trendingbox.innerHTML += 
                    `
                        <div class="product" id="${sides[trendingindex]}" class="">
                            <img src="${imagedir}/1.png" alt="" srcset="">      
                            <div id="bottom">
                                <h3>${products[i]["productname"]}</h3>
                                <h4>Rs.${products[i]["productprice"]}</h4>
                                <p>${products[i]["description"].toLowerCase()}</p>

                                <div id="shop">
                                    <a href="/product?category=${products[i]["productcategory"]}?id=${products[i]["productid"]}">shop now</a>
                                </div>
                            </div>
                        </div>

                    `
                    trendingindex += 1;

                }


            }
        })


    </script>


                
    <div id="footer">
    </div>
    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/footer.js"></script>
</body>
</html>

