
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUKI Store</title>
    <link rel="stylesheet" href="/styling/index_style.css">
    <link rel="icon" href="/images/logo/luki.png" >
    <link rel="stylesheet" href="/styling/home.css">
    <!-- <link rel="stylesheet" href="/styling/index_style.css"> -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
    </style>
</head>
<body>
    
    <div id="navbar">
    </div>
<div id="video">
    <video autoplay loop muted preload="auto" id="landscape" >
        <source src="/videos/intro.mp4" type="video/mp4">
        <source src="/videos/intro.mp4" type="audio/mpeg">
    </video>
</div>

<div id="intro">

    <h1>EMBRACE YOUR WARDROBE!></h1>
    <h2>LUKI.OUTFITS</h2>
    <a href="#latest"><p>Explore More</p></a>

</div>


<div id="latest">

    <h3>Latest</h3>

    <div id="products">
        
        <a href="/category?name=women">
            <div id="product">
                <img src="/images/product/highlights/1.jpg" alt="" srcset="">            
            </div>
        </a>
        <a href="/category?name=women">
            <div id="product">
                <img src="/images/product/highlights/2.jpg" alt="" srcset="">            
            </div>
        </a>
        <a href="/category?name=women">
            <div id="product">
                <img src="/images/product/highlights/3.jpg" alt="" srcset="">            
            </div>
        </a>
    </div>

</div>


<div id="limited">

    <h3>Limited</h3>
    <div id="products">

        <div id="textedimg">
            <div id="text">
                <h4>75% OFF</h4>
                <h5>At First Purchase</h5>
            </div>
            <a href="/category?name=women">
                <div id="product">
                    <img src="/images/product/highlights/4.jpg" alt="" srcset="">     
                </div>
            </a>
        </div>

        <a href="/category?name=women">
            <div id="product">
                <img src="/images/product/highlights/5.jpg" alt="" srcset="">            
            </div>
        </a>
        <a href="/category?name=women">
            <div id="product">
                <img src="/images/product/highlights/6.jpg" alt="" srcset="">            
            </div>
        </a>
        
    </div>

</div>


<div id="trending">

    <h3>Trending</h3>
    <div id="products">
        <a href="/category?name=women">
            <div id="product">
                <img src="/images/product/highlights/5.jpg" alt="" srcset="">            
            </div>
        </a>
        <a href="/category?name=women">
            <div id="product">
                <img src="/images/product/highlights/1.jpg" alt="" srcset="">            
            </div>
        </a>
        <a href="/category?name=women">
            <div id="product">
                <img src="/images/product/highlights/4.jpg" alt="" srcset="">            
            </div>
        </a>
        
    </div>

</div>

<div id="intro">
    
    <a href="/category?name=women"><p>Explore More</p></a>
</div>


            
 <div id="footer">
</div>
<script src="/scripts/navbar.js"></script>
<script src="/scripts/footer.js"></script>
</body>
</html>

