
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUKI Store</title>
    <link rel="stylesheet" href="/styling/form.css">
    <link rel="icon" href="/images/logo/lukismall.jpg" >
    
</head>
<body>
    
    <div id="navbar"></div>
    
    <div id="uppersite">
        <div id="mostouterform">
            <h3 id="login">LOGIN</h3>
            
            <form method="post" autocomplete="off" >
                <input type="email" name="usermail" id="usermail" required  placeholder="email">
                <input type="password" name="userpass" id="userpass"  required  placeholder="password">
                <div id="errors">
                    <p id="error4"></p>
                    <p id="error3"></p>
                    
                </div>
                <a href="/register" id="link"><p>create an account</p></a>
                <!-- <a href="/password" id="link"><p>Forgot Password?</p></a> -->

                    <button type="submit">login</button>
                </form>

            </div>
            
    </div>

    
    <script>
        
        let error = location.search.split("=")[1]
        console.log(error)
        
        
        if (error == 1){
            document.getElementById("errors").style.display = "block"
            document.getElementById('error3').innerHTML =`email not found`
        }
        else if (error == 2){
            document.getElementById("errors").style.display = "block"
            document.getElementById('error4').innerHTML =`password didn't match`
        }else {
            
            document.getElementById("errors").style.display = "none"
        }
        
        </script>

<div id="footer"></div>
<script src="scripts/navbar.js"></script>
<script src="/scripts/footer.js"></script>
    
</body>
</html>