

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUKI Store</title>
    <link rel="icon" href="/images/logo/lukismall.jpg" >
    <link rel="stylesheet" href="/styling/order.css">
</head>
<body>

    <div id="navbar">
    </div>


    <div id="upperorder" >
        <div id="outerorder">
            <h1>Order Details</h1>
            <div id="order">
                <h2 id="productname">Product Name</h2>
                <div id="productimg">
                    <img src="" alt="">
                </div>
                <div id="details">
                    <h3>Customer</h3>
                    <div id="userdetails">
                        <table id="left">
                            <tr>
                                <td><p>Name :</p></td>
                            </tr>
                            <tr>
                                <td><p>Email : </p></td>
                            </tr>
                            <tr>
                                <td><p>Phone :</p></td>
                            </tr>
                            <tr>
                                <td><p>Address :</p></td>
                            </tr>
                            
                        </table>
                            
                        <table id="right">
                            <tr>
                                <td> <p>${orders[i]["customername"]}</p></td>
                            </tr>
                            <tr>
                                <td><p>${orders[i]["email"]}</p></td>
                            </tr>
                            <tr>
                                <td> <p>${orders[i]["phone"]}</p></td>
                            </tr>
                            <tr>
                                <td><p>${orders[i]["address"]}</p></td>
                            </tr>
                          
                        </table>
                        
                    </div>
                    <h3>Order</h3>
                    <div id="orderdetails">
                        <table id="left">
    
                        </table>
                        <table id="right">
    
                        </table>
                        
                    </div>
                </div>
            </div>

        </div>
        
    </div>
    <div id="footer">
    </div>

    <script>

        const url = location.search
        const ordercode = url.split("ordercode=")[1].split("?id")[0]
        fetch("/order")
        .then(response => response.json())
        .then(orders => {
            for (i in orders){
                if (orders[i]["ordercode"] == ordercode){
                    let imagedir = "/"+orders[i]["path"].split("../frontend/static/")[1]+"/"

                    var productname = document.getElementById("productname")
                    var productimg = document.getElementById("productimg")
                    var userdetails = document.getElementById("userdetails")
                    var orderdetails = document.getElementById("orderdetails")
                    var tax = (orders[i]["quantity"] * orders[i]["productprice"]) * 13/100

                    productname.innerHTML = `
                     <a href="/product?category=${orders[i]["category"]}?id=${orders[i]["productid"]}">${orders[i]["productname"]}</a>`
                    productimg.innerHTML = 
                    `
                        <img src="${imagedir}1.png" alt="">
                    `

                    userdetails.innerHTML = 
                    `   
                        <table id="left">
                            <tr>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                            </tr>
                            <tr>
                                <td>Address</td>
                            </tr>
                            
                        </table>
                            
                        <table id="right">
                            <tr>
                                <td> ${orders[i]["customername"]}</td>
                            </tr>
                            <tr>
                                <td>${orders[i]["email"]}</td>
                            </tr>
                            <tr>
                                <td>${orders[i]["phone"]}</td>
                            </tr>
                            <tr>
                                <td>${orders[i]["address"]}</td>
                            </tr>
                          
                        </table>
                    `
                    orderdetails.innerHTML = 
                    `
                <table id="left">
                        <tr>
                            <td>Price</td>
                        </tr>
                        <tr>
                            <td>Quantity</td>
                        </tr>
                        <tr>
                            <td>Size</td>
                        </tr>
                        <tr>
                            <td>Color</td>
                        </tr>
                        <tr>
                            <td>Category</td>
                        </tr>
                        <tr>
                            <td>Tax</td>
                        </tr>
                        <tr>
                            <td>Delivery</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                        </tr>
                        
                    </table>
                        
                    <table id="right">
                        <tr>
                            <td>${orders[i]["productprice"]}</td>
                        </tr>
                        <tr>
                            <td>${orders[i]["quantity"]}</td>
                        </tr>
                        <tr>
                            <td>${orders[i]["size"]}</td>
                        </tr>
                        <tr>
                            <td>${orders[i]["color"]}</td>
                        </tr>
                        <tr>
                            <td>${orders[i]["category"]}</td>
                        </tr>
                        <tr>
                            <td>${tax}</td>
                        </tr>
                        <tr>
                            <td>${150}</td>
                        </tr>
                        <tr>
                            <td>${orders[i]["total"]}</td>
                        </tr>
                        
                    </table>
                        
                    `
                    
                }
                

            }
        })


    </script>

    
    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/footer.js"></script>
</body>

</html>