
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUKI Store</title>
    <link rel="stylesheet" href="/styling/password.css">
    <link rel="icon" href="/images/logo/lukismall.jpg" >
    
</head>
<body>
    
    <div id="navbar"></div>

    <div id="uppersite">

        <div id="outerform">
            <p>Enter your new password with the old password</p>
            <form action="post">
                <h3>Old Password</h3>
                <input type="password" name="oldpassword" id="oldpassword">
                <h3>New Password</h3>
                <input type="password" name="newpassword" id="newpassword">
                <h3>ReEnter Password</h3>
                <input type="password" name="newpassword" id="newpassword">
            </form>

        </div>
    </div>

    <script src="scripts/navbar.js"></script>
</body>

</html>