

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUKI Store</title>

    <link rel="stylesheet" href="/styling/profile.css">
</head>
<body>

    <div id="navbar">
    </div>


    <div id="upperprofile" >
        <div id="outerprofile">
            <h1>PROFILE</h1>
            <div id="profile">

                <div id="left">
                    
                    <h1>Full Name</h1>
                    <h4>UserName</h4>
                    <p>Email</p>
                    <p>Phone</p>
                </div>
                <div id="right">
                    <h4>Token</h4>
                    <h2></h2>
                </div>

            </div>

            
            <h6>Your Order</h6>
            <table id="orders">
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>View</th>
                    <th>Cancel</th>
                </tr>


                <!-- <div id="innerorder">
                    <div id="titleandimg">
                        <h1>TITLE</h1>
                        <img src="" alt="" srcset="">
                    </div>
                    <p id="receiver">Receicer</p>
                    <p id="address">Address</p>
                    <p id="number">Number</p>
                    <p id="size">XL</p>
                    <p id="quantity">100</p>
                    <form method="post">
                        <button type="submit">Cancel Order</button>
                    </form>
                </div> -->

            </table>
        </div>
        
    </div>
    <div id="footer">
    </div>

    <script>

        let token = document.cookie.split(";")[0].split("token=")[1]
        console.log(token)
        let innerorderhtml = ""
        let outerorder = document.getElementById("orders")
        let r = 1
        fetch("/order")
        .then(response => response.json())
        .then(orders => {
            for (i in orders){
                console.log(orders[i]["token"] , token)
                console.log(i)
                if (orders[i]["token"] == token){
                    console.log(orders)
                    let imagedir = "/"+orders[i]["path"].split("../frontend/static/")[1]+"/"
                    innerorderhtml = 
                    `

                    <tr>
                        <td>${orders[i]["productname"]}</td>
                        <td>${orders[i]["quantity"]}</td>
                        <td>${orders[i]["total"]}</td>
                        <td><a href="/product?category=${orders[i]["productcategory"]}?id=${orders[i]["productid"]}">View</a></td>
                        <td><form method="post" action="/deleteorder">
                            <input name="productid" type="hidden" value="${orders[i]["productid"]}">
                            <button type="submit">Yes</button>
                            </form>
                        </td>
                    </tr>
                    `
                    
                    
                    outerorder.innerHTML += innerorderhtml
                    
                }
                

            }
        })

        
//         <div id="profile">

// <div id="left">
    
//     <h1>Full Name</h1>
//     <h4>UserName</h4>
//     <p>Email</p>
//     <p>Phone</p>
// </div>
// <div id="right">
//     <h4>Token</h4>
//     <h2>Total</h2>
// </div>

// </div>

        let profilebox = document.getElementById("profile")
        let innerprofile = ``
        
        fetch("/users")
        .then(response => response.json())
        .then(users => {
            for (i in users){

                if (users[i]["token"] == token){
                    console.log(users)
                    
                    innerprofile = 
                    `
                        <div id="left">
    
                            <h1>${users[i]['firstname']} ${users[i]['secondname']}</h1>
                            <h4>${users[i]['username']}</h4>
                            <p>${users[i]['usermail']}</p>
                        </div>
                        <div id="right">
                            <h4>ID:${token}</h4>
                            <h4>Spending<br> Rs.${users[i]['spending']}</h4>
                        </div>
                    `

                    profilebox.innerHTML = innerprofile
                }
                

            }
        })

    </script>

    
    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/footer.js"></script>
</body>

</html>