
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUKI Store</title>
    <link rel="icon" href="/images/logo/lukismall.jpg" >
    
</head>
<body>
    
    <div id="navbar"></div>
    
    <div id="uppersite">
        
        
        <div id="mostouterform">
           
                <h2>REGISTER</h2>

                <form method="post" autocomplete="off" class="form" id="registerform" onsubmit=" return formvalidation()" >
                    
                    <input type="text" name="fullname" id="fullname"  required placeholder="full name">
                    <h5 id="usernametext" class="formerrortext">Enter your name</h5>

                    <input type="text" name="username" id="username"  required placeholder="username">
                    <h5 id="usernametext" class="formerrortext">Enter your name</h5>
                    
                    <input type="email" name="usermail" id="usermail"  required placeholder="email">
                    <h5 id="usermailtext" class="formerrortext">Enter a valid Email</h5>

                    <input type="number" name="phone" id="phone"  required placeholder="phone">
                    <h5 id="phone" class="formerrortext">Enter a valid Number</h5>
                    
                    <input type="password" name="userpass" id="userpass"  required placeholder="password">
                    <h5 id="userpasstext" class="formerrortext">Password didn't match</h5>
                    
                    <input type="password" name="userrepass" id="userrepass"  required placeholder="re-password">
                    <h5 id="userrepasstext" class="formerrortext">Password didn't match</h5>
                    <div id="errors">
                        <p id="error1"></p>
                    </div>
                    
                    <a href="/login" id="link"><p>already have an account?</p></a>
                    <button type="submit" value="submit">submit</button>
                </form>
                

            
        </div>

    </div>
    <div id="footer">
    </div>
    <script>
        let error = location.search.split("=")[1]
        console.log(error)
        if (error == 1){
            document.getElementById("errors").style.display = "block"
            document.getElementById('error1').innerHTML =`User Exists <a href="/login">Login</a>`
        }else{
            document.getElementById("errors").style.display = "none"
            
        }
            
    </script>
    
    <script src="scripts/navbar.js"></script>
    <script src="scripts/formcheck.js"></script>
    <link rel="stylesheet" href="/styling/form.css">
    <script src="/scripts/footer.js"></script>
    
</body>
</html>