
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUKI Store</title>
    <link rel="stylesheet" href="/styling/index_style.css">
    <link rel="icon" href="/images/logo/lukismall.jpg" >
    <link rel="stylesheet" href="/styling/social.css">
    <!-- <link rel="stylesheet" href="/styling/index_style.css"> -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
    </style>
</head>
<body>
    
    <div id="navbar">
    </div>

    <div id="outer">

        <h1>SOCIAL MEDIA</h1>
        <div id="inner">
            <div class="link">
                <a href="https://www.instagram.com/luki.outfits__/profilecard/?igsh=MW9wNjU1d21zdHN5eg==" target="_blank">
                    <img src="/images/icon/instagram_color.png" alt="" srcset="" >
                </a>
            </div>
            <div class="link">
                <a href="https://www.facebook.com/profile.php?id=61565131516453&mibextid=ZbWKwL" target="_blank">
                    <img src="/images/icon/facebook(1).png" alt="" srcset="">
                </a>

            </div>
            <div class="link">
                <a href="https://www.tiktok.com/@luki.outfits__?_t=8sIEHE0G0T1&_r=1" target="_blank">
                    <img src="/images/icon/x.png" alt="" srcset="">
                </a>
            </div>
        </div>
    </div>


                
    <div id="footer">
    </div>
    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/footer.js"></script>
</body>
</html>

