
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUKI Store</title>
    <link rel="stylesheet" href="/styling/index_style.css">
    <link rel="icon" href="/images/logo/lukismall.jpg" >
    <link rel="stylesheet" href="/styling/social.css">
    <link rel="stylesheet" href="/styling/menu.css">
    <!-- <link rel="stylesheet" href="/styling/index_style.css"> -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
    </style>
</head>
<body>
    
    <div id="navbar">
    </div>
    <div id="menubox" style="display: none;">
        <a href="/category?name=latest"><p>latest</p></a>
        <a href="/category?name=men"><p>mens</p></a>
        <a href="/category?name=women"><p>women</p></a>
        <a href="/category?name=unisex"><p>unisex</p></a>
        <a href="/contact"><p>contact us</p></a>
        <a href="/about" ><p style="  border-bottom: 1px solid rgb(189, 189, 189);">about us</p></a>
        <a href="/register"><button>sign up</button></a>
    </div>
    <div id="wholebox" style="display: block;">

    <div id="outer">

        <h1>SOCIAL MEDIA</h1>
        <div id="inner">
            <div class="link">
                <a href="https://www.instagram.com/luki.outfits__/profilecard/?igsh=MW9wNjU1d21zdHN5eg==" target="_blank">
                    <img src="/images/icon/instagramwhite.png" alt="" srcset="" >
                    <p>instagram</p>
                </a>
            </div>
            <div class="link">
                <a href="https://www.facebook.com/profile.php?id=61565131516453&mibextid=ZbWKwL" target="_blank">
                    <img src="/images/icon/Whitefacebook.png" alt="" srcset="">
                    <p>facebook</p>
                </a>
                
            </div>
            <div class="link">
                <a href="https://www.tiktok.com/@luki.outfits__?_t=8sIEHE0G0T1&_r=1" target="_blank">
                    <img src="/images/icon/tiktok.png" alt="" srcset="">
                    <p>tiktok</p>
                </a>
            </div>
        </div>
    </div>


    </div>
    <!-- <div id="footer">
    </div> -->
    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/footer.js"></script>
</body>
</html>

